<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="'Anime - ' + ${anime_information.title}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/img/logo.png}">
</head>
<body>
<div th:replace="~{blocks/header :: header}"/>

<main class="main mt-5">
    <div class="container">
        <div class="left_page">
            <img th:src="${anime_information.image}">
            <div class="anime_info mt-3">
                <p class="left_information"><strong>Information</strong></p>
                <p><strong>MyAnimeList:</strong> <a th:href="${anime_information.myAnimeListURL}">Link</a></p>
                <p th:utext="'<strong>Studio: </strong>' + ${anime_information.studio}"><strong>Studio:</strong> ---</p>
                <p th:if="${anime_information.producers} != ''" th:utext="'<strong>Producers: </strong>' + ${anime_information.producers}"><strong>Producers: </strong>TV Tokyo, Aniplex, Shueisha</p>
                <p th:if="${anime_information.licensors} != ''" th:utext="'<strong>Licensors: </strong>' + ${anime_information.licensors}"><strong>Licensors: </strong>TV Tokyo, Aniplex, Shueisha</p>
                <p th:utext="'<strong>Aired: </strong>' + ${anime_information.airing}"><strong>Aired:</strong> Oct 11, 1989 to Sep 26, 1990</p>
                <p th:if="${anime_information.year} != 'null'" th:utext="'<strong>Year: </strong>' + ${anime_information.year}"><strong>Year:</strong> 2023</p>
                <p th:unless="${anime_information.year} != 'null'" th:utext="'<strong>Year: </strong> No data'"><strong>Year:</strong> 2023</p>
                <p th:utext="'<strong>Rank: </strong>' + ${anime_information.rank}"><strong>Rank:</strong> 266</p>
                <p th:utext="'<strong>Favorites: </strong>' + ${anime_information.favorites}"><strong>Favorites:</strong> 266</p>
                <p th:utext="'<strong>Popularity: </strong>' + ${anime_information.popularity}"><strong>Popularity:</strong> 255</p>
            </div>
        </div>
        <div class="right_page">
            <h1 th:text="${anime_information.title}"/>
            <h3 th:text="${anime_information.titleEnglish}"/>
            <div class="right_info d-flex justify-content-between align-items-center">
                <div class="right_anime_info">
                    <p th:utext="'<strong>Score: </strong>' + ${anime_information.score}"><strong>Score:</strong> 7.99</p>
                    <p th:utext="'<strong>Scored by: </strong>' + ${anime_information.scoredBy}"><strong>Scored by:</strong> 7.99</p>
                    <p th:utext="'<strong>Type: </strong>' + ${anime_information.type}"><strong>Type:</strong> TV</p>
                    <p th:utext="'<strong>Episodes: </strong>' + ${anime_information.episodes}"><strong>Episodes:</strong> 24</p>
                    <p th:utext="'<strong>Duration: </strong>' + ${anime_information.duration}"><strong>Duration:</strong> 23 min per ep</p>
                    <p th:utext="'<strong>Genres: </strong>' + ${anime_information.genres}"><strong>Genres:</strong> Action, Adventure, Fantasy</p>
                    <p th:utext="'<strong>Rating: </strong>' + ${anime_information.rating}"><strong>Rating:</strong> PG-13 - Teens 13 or older</p>
                </div>
                <div th:if="${anime_information.trailerURL} != 'null'">
                    <iframe width="312" height="180"
                            th:title="${anime_information.title}" th:src="${anime_information.trailerURL}"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="anime_relations">
                <table class="table table-striped">
                    <tr th:each="relation : ${anime_relations}">
                        <td th:text="${relation.relation}"/>
                        <td th:text="${relation.type}"/>
                        <td th:if="${relation.type} == 'anime'"><a class="text-decoration-none" th:href="'/anime/view/' + ${relation.contentID}" th:text="${relation.name}"/></td>
                        <td th:if="${relation.type} == 'manga'"><a class="text-decoration-none" th:href="'/manga/view/' + ${relation.contentID}" th:text="${relation.name}"/></td>
                        <td><a class="text-decoration-none" th:href="${relation.url}" th:text="MyAnimeList"/></td>
                    </tr>
                </table>
            </div>

            <div th:if="${anime_information.desc} != 'null'" class="anime_description my-3">
                <p><strong>Description</strong></p>
                <p th:text="${anime_information.desc}"/>
            </div>
            <div th:if="${anime_information.background} != 'null'" class="anime_background my-3">
                <p><strong>Background</strong></p>
                <p th:text="${anime_information.background}"/>
            </div>
            <div class="anime_recommendations my-3">
                <p><strong>Recommendations</strong></p>
                <div class="row row-cols-4">

                    <div th:each="anime : ${anime_list}" class="anime_card card col my-2">
                        <img class="card_image_top" th:src="${anime.image}" alt="card_top">
                        <div class="card_new_body">
                            <h5 th:text="${anime.title}" class="text-center anime_card_font card-title cutoff-title" th:title="${anime.title}">One Piece</h5>
                            <div class="d-flex justify-content-center my-3">
                                <a th:href="'/anime/view/' + ${anime.id}" class="btn btn-primary anime_card_font">View Anime</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{blocks/footer :: footer}"/>

</body>
</html>
