<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{blocks/head :: head}"/>
<body>

<div th:replace="~{blocks/header :: header}"/>

<div class="container">
    <h1 class="my-2">Anime</h1>
    <div class="row row-cols-auto">
        <div th:each="anime : ${animeList}" class="anime-col-card col card my-2" style="width: 18rem;">
            <img th:src="${anime.image}" class="card-img-top" alt="600x400">
            <div class="card-body">
                <h5 class="cutoff-title card-title" th:text="${anime.title}" th:title="${anime.title}">Card title</h5>
                <small class="cutoff-title card-title" th:text="${anime.titleEnglish}" th:title="${anime.titleEnglish}">Card title</small>
                <p class="cutoff-text card-text" th:text="${anime.synopsis}">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="d-flex justify-content-between">
                    <a th:href="${anime.animeListURL}" target="_blank" class="btn btn-primary">View Anime</a>
                    <a th:href="${anime.animeListURL}" target="_blank" class="btn btn-outline-secondary
                    d-inline-flex align-items-center" type="button">MyAnimeList</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{blocks/pagination :: pagination}"/>
</div>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    footer {
        margin-top: auto;
    }
</style>

<div th:replace="~{blocks/footer :: footer}"/>

</body>
</html>