<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${page_title}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/img/logo.png}">
</head>
<body>
<div th:replace="~{blocks/header :: header}"/>

<main class="main mt-5">
    <div class="container">
        <div class="left_page">
            <img th:src="${anime_image}">
            <div class="anime_info mt-3">
                <p class="left_information"><strong>Information</strong></p>
                <p><strong>MyAnimeList:</strong> <a th:href="${anime_myAnimeList}">Link</a></p>
                <p th:utext="'<strong>Studio: </strong>' + ${anime_studio}"><strong>Studio:</strong> ---</p>
                <p th:utext="'<strong>Producers: </strong>' + ${anime_producers}"><strong>Producers: </strong>TV Tokyo, Aniplex, Shueisha</p>
                <p th:utext="'<strong>Aired: </strong>' + ${anime_airing}"><strong>Aired:</strong> Oct 11, 1989 to Sep 26, 1990</p>
                <p th:utext="'<strong>Year: </strong>' + ${anime_year}"><strong>Year:</strong> 2023</p>
                <p th:utext="'<strong>Rank: </strong>' + ${anime_rank}"><strong>Rank:</strong> 266</p>
                <p th:utext="'<strong>Favorites: </strong>' + ${anime_favorites}"><strong>Favorites:</strong> 266</p>
                <p th:utext="'<strong>Popularity: </strong>' + ${anime_popularity}"><strong>Popularity:</strong> 255</p>
            </div>
        </div>
        <div class="right_page">
            <h1 th:text="${anime_title}"/>
            <h3 th:text="${anime_english_title}"/>
            <div class="right_info d-flex justify-content-between align-items-center">
                <div class="right_anime_info">
                    <p th:utext="'<strong>Score: </strong>' + ${anime_score}"><strong>Score:</strong> 7.99</p>
                    <p th:utext="'<strong>Scored by: </strong>' + ${anime_scored_by}"><strong>Scored by:</strong> 7.99</p>
                    <p th:utext="'<strong>Type: </strong>' + ${anime_type}"><strong>Type:</strong> TV</p>
                    <p th:utext="'<strong>Duration: </strong>' + ${anime_duration}"><strong>Duration:</strong> 23 min per ep</p>
                    <p th:utext="'<strong>Genres: </strong>' + ${anime_genres}"><strong>Genres:</strong> Action, Adventure, Fantasy</p>
                    <p th:utext="'<strong>Rating: </strong>' + ${anime_rating}"><strong>Rating:</strong> PG-13 - Teens 13 or older</p>
                </div>
                <div th:if="${anime_trailer} != 'null'">
                    <iframe width="312" height="180"
                            title="anime trailer" th:src="${anime_trailer}"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="anime_description my-3">
                <p><strong>Description</strong></p>
                <p th:text="${anime_desc}"/>
            </div>
            <div class="anime_background my-3">
                <p><strong>Background</strong></p>
                <p th:text="${anime_background}"/>
            </div>
            <div class="anime_recommendations my-3">
                <p><strong>Recommendations</strong></p>
                <div class="row row-cols-4">

                    <div th:each="anime : ${anime_list}" class="anime_card card col my-2">
                        <img class="card_image_top" th:src="${anime.image}" alt="card_top">
                        <div class="card_new_body">
                            <h5 th:text="${anime.title}" class="text-center anime_card_font card-title cutoff-title" th:title="${anime.title}">One Piece</h5>
                            <div class="d-flex justify-content-center my-3">
                                <a th:href="'/anime/view/' + ${anime.id}" class="btn btn-primary anime_card_font">View Anime</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{blocks/footer :: footer}"/>

</body>
</html>
