<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{blocks/head :: head}"/>
<body>

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="login-form container">
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                   aria-controls="pills-login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
                   aria-controls="pills-register" aria-selected="false">Register</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form th:action="@{/auth/registration}" method="post">
                    <p class="text-center">REGISTER:</p>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="loginName" class="form-control" name="username_input" />
                        <label class="form-label" for="loginName">Username</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="loginEmail" class="form-control" name="email_input" />
                        <label class="form-label" for="loginEmail">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="loginPassword" class="form-control" name="password_input" />
                        <label class="form-label" for="loginPassword">Password</label>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .login-form {
        padding: 20px;
        border-radius: 8px;
        background-color: #f3f3f3;
        min-width: 500px;
        border: 1px solid #e1e1e1;
    }
</style>

</body>
</html>