<nav th:fragment="pagination" class="d-flex justify-content-center my-2" aria-label="Page navigation example">

  <ul class="pagination" th:if="${current_page} == 1">
    <li class="page-item"><a class="page-link disabled">Previous</a></li>

    <li class="page-item"><a class="page-link disabled">1</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=2'">2</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=3'">3</a></li>

    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + ${total_pages}">Last</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} + 1)">Next</a></li>
  </ul>


  <ul class="pagination" th:if="${current_page} == 2">
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} - 1)">Previous</a></li>

    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=1'">1</a></li>
    <li class="page-item"><a class="page-link disabled">2</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=3'">3</a></li>

    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + ${total_pages}">Last</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} + 1)">Next</a></li>
  </ul>


  <ul class="pagination" th:if="${current_page} > 2 and ${current_page} < (${total_pages})">
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} - 1)">Previous</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=1'">First</a></li>

    <li class="page-item"><a th:text="${current_page} - 1" class="page-link"
                             th:href="'/' + ${pagination_type} + '/page=' + (${current_page} - 1)">1</a></li>

    <li class="page-item"><a th:text="${current_page}" class="page-link disabled">2</a></li>

    <li class="page-item"><a th:text="${current_page} + 1" class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} + 1)">3</a></li>

    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + ${total_pages}">Last</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} + 1)">Next</a></li>
  </ul>

  <ul class="pagination" th:if="${current_page} == ${total_pages}">
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} - 1)">Previous</a></li>
    <li class="page-item"><a class="page-link" th:href="'/' + ${pagination_type} + '/page=1'">First</a></li>

    <li class="page-item"><a th:text="${current_page} - 2" class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} - 2)">1</a></li>
    <li class="page-item"><a th:text="${current_page} - 1" class="page-link" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} - 1)">2</a></li>
    <li class="page-item"><a th:text="${current_page}" class="page-link disabled">3</a></li>

    <li class="page-item"><a class="page-link disabled" th:href="'/' + ${pagination_type} + '/page=' + ${total_pages}">Last</a></li>
    <li class="page-item"><a class="page-link disabled" th:href="'/' + ${pagination_type} + '/page=' + (${current_page} + 1)">Next</a></li>
  </ul>
</nav>